@CHARSET "UTF-8";

body 
{
    margin: 0px;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    color: #666666; 
}

.clr
{
    clear: both;
}

#tp
{
    border-top: 5px solid #8CA7BB;
}

#tp-left
{
    color: #22B14C;
    float:left;
    font-size: 16px;
    padding-top:10px;
    padding-bottom:10px;
    
}

#tp-left #logo
{
	 color: #22B14C;
	 text-decoration:none;
}

#tp-right
{
    font-size: 10px;
    float: right;
    padding-top:15px;
}

#content
{
    padding-left:10px;
    padding-right:10px;
}

#header-top
{
    padding: 0 10px 0 10px;
}

#header
{   
    background-image:url(/front/img/header.png);
    font-size: 16px;
    height: 30px;
    margin-bottom:50px;
}

#hd-left
{
    padding-left: 10px;
    float: left;
    padding-top: 6px;
}

#menu
{
    padding-right: 10px;
    float: right;
    padding-top: 3px;
}

#menu a
{
    color: #666666;
    font-size: 11px;
    padding-right:5px;
}

#left
{
    float:left;
    font-size: 12px;
    color: #333333;
    width: 207px;
}

#left ul
{
    list-style-type: none;
    margin: 0;
    padding:0;
}

#left ul a
{
    color: #333333;
}

#left ul li
{
    padding-top:3px;
    padding-bottom:3px;
    padding-left: 2px; 
}

.select a
{
    text-decoration:none;
}

.select
{
    background:#D7D7E3;
    border: 1px solid #999999;

}

#right
{
    min-height:500px;
    border-left: 1px dotted #666666;
    margin-left:220px;
    padding-left: 10px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    
}

#footer
{
    font-size: 10px;
    text-align: center;
    border-top: 1px solid #C3C3C3;
    padding-top: 15px;
    margin-top:20px;
    padding-bottom:15px;
    
}

.bmw-1
{
	color: #666666;
}

.bmw-2
{
	margin-left:auto;
	margin-right:auto;
}

.bmw-3
{
	cursor:pointer;
}

.bmw-4
{
	width: 100%;
	font-size:13px;
	font-family:Arial;
}

.bmw-4 a
{
    color:#666666;  
}

.bmw-4 td
{
    width:50%;
}

.bmw-6
{
	text-align: right;
}

.bmw-5
{
	width:20px; 
}

.count_tb
{
    border-collapse: collapse;
    width: 100%;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
}

.count_tb td, .count_tb th
{
    border: 1px solid #999999;  
    padding:3px;  
}

.count_tb th
{
    padding:10px;
    background: #DCDCDC;
}

#test-bb-table .grid-sortable
{
    cursor: pointer;
}

#test-bb-table .grid-sortable:hover
{
	background-color: #EFEDED;
}

#test-bb-table .grid-sortable-active
{
     background-color: #EFEDED;	
}

#test-bb-table .grid-sortable-active span
{
    width: 16px; 
    height: 16px; 
    display: inline-block;
    background-image: url(/front/img/admin/ui/ui-icons_222222_256x240.png);
}

#test-bb-table .grid-sortable-desc span
{
	 background-position: -64px -16px;
}

#test-bb-table .grid-sortable-asc span
{
	  background-position: 0 -16px;
}
